﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AWS Lambda Invoke</h1>

    <p>@Html.ActionLink("Invoke Lambda", "InvokeLambda", "Home", new { @class = "btn btn-primary btn-lg", @id = "invokeLambda" })</p>
</div>
